{%extends 'base.html'%}

{% block content%}
{{block.super}}

<div class="container">
    <h1>A man paints with his brains and not with his hands.</h1>
</div>

<div class="container">
    <div class="row">
        <img src="{{static.image.url}}" alt="image" class="image-responsive">
    </div>
    <div class="row">
        <h1 class="text-center">{{image.title}}</h1>

    </div>
    <div class="row">
        <p>{{image.description}}</p>
    </div>
    <div class="row">
        <p>Posted {{image.pub_date|timesince}} by {{photographer.first_name}}</p>
    </div>
</div>

{% endblock%}