{%extends 'base.html'%}

{% block content%}
{{block.super}}

<div class="container">
    <h1 class="text-center">{{title}}</h1>
</div>

<div class="banner">
    <div class="cover">
        <div>
            <p id="category">The world is an art gallery when you're mindful.There are beautiful things everywhere.</p>
            <div style="float:right">
                <form class="form" role="search" action="{% url 'search_results' %}">
                    <div class="input-group" style="width:fit-content">
                      <input type="text" class="form-control" placeholder="Search by category" name="image" style="border-radius: 10px;border-color: aqua;">
                      <button class="btn btn-sucess" style="background-color: aqua;">SEARCH.</button>
                    </div>
    
                  </form>
            </div>
            
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    {%for image in image%}
    
    <div class="col-sm-4 col-md-4 col-lg-4">       
        <div class="card"style="width: 18rem;">
            <div class="card-body">
                <img src="{{image.image.url}}" alt="{{image.title}}" class="img-fluid"> 
                <p>Name:{{image.title}}</p>
                <p >Location:{{image.location}}</p>
                <p >Category:{{image.category}}</p>
                <p>Description:{{image.description}}</p>
                <p>Posted by {{image.photographer}} on {{image.pub_date}}</p> 
            </div>
        </div> 
    </div>
    {%endfor%}
</div>

{% endblock%}    
        <!-- <div class="modal" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="card">
                    <div class="card-body text-center"><img src="{{image.image.url}}" alt="{{image.title}}" class="img-fluid"> 
                        <p>Name:{{image.title}}</p>
                        <p >Location:{{image.location}}</p>
                        <p >Category:{{image.category}}</p>
                        <p>Description:{{image.description}}</p>
                        <p>Posted by {{image.photographer}} on {{image.pub_date}}</p>
                        <button class=" btn btn-out btn-square continue">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>  -->
  
